body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
html,body{height: 100%;width: 100%;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{font-size:12px; font-family:"微软雅黑";}
input,a{outline:none;}
*{box-sizing: border-box;}

.bc{
	/*background: url(../img/miao_bc.jpg) no-repeat;*/
	/*background-image: url('../img/miao_bc.jpg');*/
	background-image: url("../img/miao_background.jpg");
	background-size: 100% 100%;
}
.main1{
	width: 100%;
	height: 100%;
	padding-top: 100px;
	padding-left: 100px;
}
.main{
	width: 600px;
	height: 500px;
	background-color: rgba(255,255,255,0.3);
	box-shadow: 0px 0px 5px 5px #888888;
}
.title{
	width: 100%;
	height: 55px;
	padding-top: 20px;
}
.title p{
	font-size: 30px;
	text-align: center;
}
.select{
	width: 100%;
	height: 200px;
}
.xfile{
	width: 200px;
	height: 100px;
	display: none;
	border: 0px;
}
.xxfile,.xxsub{
	width: 300px;
	height: 60px;
	background-color: rgba(0,0,0,0.5);
	margin-top: 50px;
	margin-left: 150px;
	font-size: 25px;
	border-radius: 10px;
	border: 0px;
	color: white;
	font-family: "微软雅黑";
	transition: linear 0.2s;
}
.xxfile:hover,.xxsub:hover{
	color: black;
	background-color: rgba(255,255,255,0.5);
}
.select .xxsub{
	margin-top: 30px;
}
.foot{
	width: 100%;
	height: 245px;
	padding-top: 30px;
}
.foot ul{
	display: flex;
	justify-content: space-around;
}
.foot dl{
	height: 30px;
	font-size: 16px;
	line-height: 30px;
}
.foot dd{
	height: 40px;
	font-size: 26px;
	line-height: 40px;
}
